li{
    cursor: pointer;
}

li:hover {
    background-color: gainsboro;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
  
}

.round {
    border-radius: 30%;
}

#cart-quantity {
    padding: 3px 10px;
    border-radius: 80%;
    font-size: 16px;
    background-color: #D10024;
}

.main-header {
    background-color: #15161D; 
    height: 5rem;
    border-bottom: 3px solid #dc3545;
}

.footer {
    background-color: #15161D; 
    height: 18rem;
    border-top: 3px solid #dc3545;
}

.product-detail {
    cursor: pointer;
}

.link-order:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.nav-item {
    color: black;
    font-weight: bold;
}

.banner {
    border: 3px solid gainsboro;
    padding: 0px;
    border-radius: 10px;
}

.w-75 {
    width: 100%;
}

.product-banner {
    border-radius: 10px 0 0 0 ; 
    background-image: url('/images/title-main-top.jpg');
    background-repeat: no-repeat;
    border-bottom: 3px solid #ffc107;

}


.text-overflow {
    white-space: nowrap; 
    width: 200px; 
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.text-wrap {
    word-wrap: break-word;
}

.page-link {
    color:black;
}

.btn-add {
    border-radius: 20px ; 
}

.modal-body {
    max-height: calc(89vh - 210px);
    overflow-y: auto;
}



/* CHECKBOX */
/* The container */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: red;
  }



  
























